*.iml
.gradle
/local.properties
/.idea/*
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild
/app/src/main/java/com/soarsky/car/data/local/db/dao/NoteDao.java
/app/src/main/java/com/soarsky/car/data/local/db/dao/TborrowDao.java
/app/src/main/java/com/soarsky/car/data/local/db/dao/TicketDao.java
/app/src/main/java/com/soarsky/car/data/local/db/dao/DaoMaster.java
/app/src/main/java/com/soarsky/car/data/local/db/dao/DaoSession.java
/app/src/main/java/com/soarsky/car/data/local/db/dao/FamilyNumDao.java
/app/src/main/java/com/soarsky/car/data/local/db/dao/DriverRecordDao.java
/app/src/main/java/com/soarsky/car/data/local/db/dao/ErrorDriverDao.java
/app/src/main/java/com/soarsky/car/data/local/db/dao
/PushSDK/build
