*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild
/.idea/*
/app/src/main/java/com/soarsky/policeclient/data/local/db/dao/BlackCarDao.java
/app/src/main/java/com/soarsky/policeclient/data/local/db/dao/CheckDao.java
/app/src/main/java/com/soarsky/policeclient/data/local/db/dao/DaoMaster.java
/app/src/main/java/com/soarsky/policeclient/data/local/db/dao/DaoSession.java
/app/src/main/java/com/soarsky/policeclient/data/local/db/dao/NoteDao.java
/app/src/main/java/com/soarsky/policeclient/data/local/db/dao/ViolationDao.java
/library/build
