<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.sxj.carloan">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"/>
    <uses-permission android:name="android.permission.WRITE_SETTINGS"/>
    <uses-permission android:name="com.android.launcher.permission.READ_SETTINGS"/>

    <uses-permission android:name="android.permission.RECORD_AUDIO"/>
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.CAPTURE_AUDIO_OUTPUT"/>
    <uses-permission android:name="android.permission.CAPTURE_VIDEO_OUTPUT"/>
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.DarkActionBar">
        <activity
            android:name=".ui.LoginActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.MainActivity"
            android:label="@string/sales_man"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ui.HomeInfoAcitivity"
            android:label="@string/title_activity_home_info_acitivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".ui.HomeInfoItemActivity"
            android:label="详细信息"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".ui.PersonCreditActivity"
            android:label="个人信用"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".ui.RepaymentActivity"
            android:label="偿还能力"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".ui.investigation.InvestigationMainActivity"
            android:label="@string/investigator"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".ui.investigation.InvestigationFunctionChoose"
            android:label="@string/title_activity_investigation_function_choose"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".ui.OtherRoleActivity"
            android:label="@string/title_activity_other_role"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".ui.AdminActivity"
            android:label="@string/title_activity_admin"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".rongyi.VideoChatViewActivity"
            android:screenOrientation="portrait">

        </activity>

        <activity
            android:name=".yewuyuan.YeWuMainPage"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".yewuyuan.YeWuJianDangActivity"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".yewuyuan.InfomationActivity"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".yewuyuan.BaseInfotmaitionCalcActivity"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".ui.investigation.DiaoChaYuanWeiFu"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".rongyi.VideoListActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".rongyi.VideoPlay2Activity"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".ui.ViewInformation"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ui.ViewPagerActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="portrait"/>

        <service android:name=".rongyi.RecordService"/>

    </application>
</manifest>